google_api_python_client==2.141.0
pandas==2.2.2
protobuf==5.27.3
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
httplib2==0.22.0
pandas==2.2.2
pyinstaller
gspread
oauth2client